<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @bookwork.title %>
</p>
<p>
  <b>Isbn nr</b>

</p>


<%= link_to 'Edit', edit_bookwork_path(@bookwork) %> |
<%= link_to 'Back', bookworks_path %>
